defaults
	proto pop3


#	poll mail.example.com protocol pop3:
#	       username "admin" password "dir3cti0n" is "username" here;
#	       username "fore" password "0rd3r" is "foreman" here;
#
#	poll mail.example.org protocol pop3 with option sslproto '':
#	       user "betty" password "p1nk" mda "/usr/bin/procmail -d %T":   user "betty" password "p1nk" mda "/usr/bin/procmail -d %T"

# poll <servername>
#	 proto pop3
#	 user "<username>%<domain_name>"
#	 pass "<password>"
#	 is <local_username>
#     ssl
