# Absender              # anzuhängende Signaturdatei
# boss@mycompany.com      /etc/postfix/boss-sig.txt
# kurt@mycompany.com      /etc/postfix/kurt-sig.txt
# no-sig@mycompany.com
@ingolanger.de          /etc/postfix/sig-for-all.txt
